@import '../../styles/variables';

.btn {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 13px;
    font-size: 13px;
    color: $baseColor;
    outline: none;

    &:hover {
        background: $bcgBtnHoverColor;
        cursor: pointer;
    }
    &:focus {
        border: 2px solid $borderBtnColor;
    }

    &--primary {
        padding: 11px 20px;
        background-color: $primaryСolor;

        &:hover {
            background: $primaryHoverСolor;
        }
        &:focus {
            border: 2px solid $primaryBorderСolor;
        }
    }

    &--link {
        color: $fontColor;
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: transparent;
            border: none;
            color: $activeColor;
        }
    }

    &.disabled {
        background: $disabledBcgColor;
        color: $disabledColor;
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }

    & span {
        margin-right: 5px;
    }

    &--base {
        width: 100%;
        justify-content: center;
        text-transform: uppercase;
        color: $accentColor;
        background-color: transparent;
        padding: 25px;
        border: 2px solid #fefefd;
        font-size: $fontSizeNormal;
        letter-spacing: $letterSpacingNormal;
        line-height: $lineHeightLarge;
        font-family: 'Helvetica_cyr';
        font-weight: $fontWeightBold;
    }
}
