.configPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 265px;
	height: 100vh;
	margin: auto;

	.title {
		text-align: center;
		margin-bottom: 24px;
	}
}

.configPage_logo {
	width: 124px;
	height: 124px;
	margin-bottom: 32px;
	background-image: url(../../core/assets/img/main.png) center center;
}
