{
	"extends": ["react-app", "prettier"],
	"rules": {
		"jsx-quotes": [1, "prefer-double"],
		"indent": ["error", "tab"],
		"no-cond-assign": ["error", "always"],

		"init-declarations": ["error", "always"],
		"no-console": "off",
		"no-inline-comments": "off"
	},
	"plugins": ["prettier"]
}
