{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "react-app",
        "prettier"
    ],
    "rules": {
        "no-console": "off",
        "no-inline-comments": "off",
        "@typescript-eslint/no-var-requires": 0
    },
    "plugins": ["prettier"]
}
