.btn {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0 20px;
	font-size: 13px;
	line-height: 36px;
	color: #000000;
	background-color: #e6e6e6;
	border: none;
	border-radius: 4px;
	outline: none;

	&:hover {
		background: #dbdbdb;
	}
	&:focus {
		border: 2px solid #b3b3b3;
	}

	&--primary {
		background-color: #ffcc00;

		&:hover {
			background: #f2c200;
		}
		&:focus {
			border: 2px solid #b38f00;
		}
	}

	&.disabled {
		background: #f2f2f2;
		color: #7f7f7f;
		opacity: 0.5;
	}
}
