@import '@core/styles/variables';

.form__block {
    margin-bottom: 18px;

    & .title {
        margin-bottom: 6px;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.06px;
    }

    &__error {
        color: $dangerColor;
    }
}
