@import '../../styles/variables';

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 0 100px;
    background: $baseColor;

    &__btns {
        display: inline-flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px 10px;
    }
}
