@import '../../styles/variables';

.title {
    font-size: $fontSizeSmall;
    letter-spacing: $letterSpacingMicro;
    color: $fontColor;
    font-family: 'Helvetica_cyr';
    font-weight: $fontWeightBold;
    text-align: center;
}
