$baseColor: #000000;
$fontColor: #7f8285;
$bcgColor: #f0f2f3;
$bcgBtnHoverColor: #dbdbdb;
$borderBtnColor: #b3b3b3;
$hoverColor: #87aeca;
$dangerColor: #f13737;
$borderLightColor: #1c446173;
$primaryСolor: #ffcc00;
$primaryHoverСolor: #f2c200;
$primaryBorderСolor: #b38f00;
$disabledBcgColor: #f2f2f2;
$disabledColor: #7f7f7f;
$activeColor: #e00000;
$acceptColor: #00b341;

$breakpoint-tabletL: 860px;
$breakpoint-tablet: 768px;
$breakpoint-mobileL: 500px;
