// @font-face {
// 	font-family: "icomoon";
// 	src: url("../../core/assets/fonts/icomoon.eot?23nkz4");
// 	src: url("../../core/assets/fonts/icomoon.eot?23nkz4#iefix")
// 			format("embedded-opentype"),
// 		url("../../core/assets/fonts/icomoon.ttf?23nkz4") format("truetype"),
// 		url("../../core/assets/fonts/icomoon.woff?23nkz4") format("woff"),
// 		url("../../core/assets/fonts/icomoon.svg?23nkz4#icomoon") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: block;
// }

// [class^="icon-"],
// [class*=" icon-"] {
// 	/* use !important to prevent issues with browser extensions that change fonts */
// 	font-family: "icomoon" !important;
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;

// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// .icon-calendar:before {
// 	content: "\e900";
// }
// .icon-clock:before {
// 	content: "\e901";
// 	color: #ff9a00;
// }
// .icon-code-commit:before {
// 	content: "\e902";
// }
// .icon-cross:before {
// 	content: "\e903";
// 	color: #ccc;
// }
// .icon-play:before {
// 	content: "\e904";
// }
// .icon-rebuild:before {
// 	content: "\e905";
// }
// .icon-settings:before {
// 	content: "\e906";
// }
// .icon-tick:before {
// 	content: "\e907";
// 	color: #00b341;
// }
// .icon-timer:before {
// 	content: "\e908";
// }
// .icon-user:before {
// 	content: "\e909";
// }
